.header-container{
    width: 100%;
    height: 720px;
    background: #FBD062;
    clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}
.header-content h1{
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 60px;
    letter-spacing: 0.01em;

    color: #111430;
}
.header-content p{
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* or 150% */

    letter-spacing: 0.005em;

    color: #000000;
}
.btn-brand {
    background-color: #111430;
    width: 134px;
}
